#RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^(.*)$ index.php?fzbrt=$1 [L,QSA]
<Files autoload.php,appinit.php,wsindex.sh>
order allow,deny
Deny from all
</Files>

<Files appinit.php>
order allow,deny
Deny from all
</Files>

<Files *.ini>
order allow,deny
Deny from all
</Files>

RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1
